.card {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 15px fit-content();
  grid-template-areas: "header header"
  "row row";
  align-items: center;
}

.card header {
  text-align: center;
  grid-area: "header";
  grid-column: 1/3;
}

.card article {
  grid-template-columns: subgrid;
  grid-column: 1/3;
}

img.portrait {
  width: 100px;
  height: 100px;
}

.pic {
  display: inline-block;
  grid-column: 1;
  grid-row: 1;
}

.pic img {
  width: 150px;
  height: 150px;
}

.attr {
  text-align: left;
  
}

.attr-container {
  display: inline-block;
  grid-column: 2/3;
  grid-row: 1;
  vertical-align: top;
}

.attr label {
  margin-left: 15px;
}

tbody tr:hover {
  background-color: #151b50;
}
